@import "./base";

.history-component {

	.history-component-game {

		margin-top: 1rem;

		.results {
			display: flex;
			width: 100%;
			align-items: center;
			margin-top: .5rem;

			& > .cards {
				flex-grow: 1;
			}

			& > .result {
				font-size: 1.25rem;
				font-weight: bold;
				text-align: center;
				width: 14rem;

				.amount {
					color: #58a700;
				}
			}

		}

		.cards-component .card {
			font-size: 1.75rem;
		}

	}

	.history-component-footer {

		.spacer {
			flex-grow: 1;
		}

		button {
			font-size: 2rem;
			min-width: 4rem;
		}

		.nav + .nav {
			margin-left: .5rem;
		}

	}

	.history-component-empty {
		margin-top: 1.5rem;
		text-align: center;
		font-size: 1.25rem;
	}

	@media screen and (max-width: $mobile) {

		.history-component-game .results {
			flex-direction: column;

			.cards {
				width: 100%;
			}

			.result {
				padding-top: .5rem;
			}

			.cards-component .card {
				font-size: 6vw;
			}
		}

		.history-component-footer {

			flex-direction: row;

		}

	}

}
