.select-contract-wrapper {

	position: relative;

	.logo-hover, .dropdown {
		position: absolute;
		margin: 0;
	}

	.logo-hover {
		top: .4375rem;
		right: .5625rem;
		width: 1.5rem;
		height: 1.5rem;
		background-color: white;
		background-size: 100%;
		border-left: .25rem solid #fff;
		box-sizing: content-box;
	}

	.dropdown {
		top: 2.75rem;
		left: 0;
		right: 0;
		padding: 1rem;
		border: .125rem solid #e6e6e6;
		border-radius: 1rem;
		background: #fff;
		z-index: 1;

		.item {
			cursor: pointer;
			display: flex;
			align-items: center;

			.logo {
				margin-right: 1rem;

				&, img {
					width: 3rem;
					height: 3rem;
				}
			}

			.info {
				overflow-x: hidden;

				.address {
					font-family: monospace;
					overflow-x: hidden;
					text-overflow: ellipsis;
				}
			}

			& + .item {
				margin-top: 1rem;
			}
		}
	}

}
