* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Nunito, sans-serif;
	font-size: 16px;
	color: #333;
}

#title {
	margin: 1rem 0;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

.app-component {
	margin: auto;
	width: 44rem;
	border: .125rem solid #e4e4e4;
	border-radius: 2rem;
	padding: 2rem;
}

.footer-component {
	text-align: center;
	font-size: .75rem;
	margin: 1.5rem 0;

	.links {
		margin: 1rem;

		a {
			color: #333;
			margin: 0 .25rem;
		}
	}

	.suits {
		display: inline-flex;
		align-items: center;
	}

	.suit {
		width: 2rem;
		height: 2rem;

		& + .suit {
			margin-left: 1rem;
		}
	}

	.hearts {
		background: url(assets/suits/hearts.svg);
		background-size: 100%;
	}

	.diamonds {
		background: url(assets/suits/diamonds.svg);
		background-size: 100%;
	}

	.clubs {
		background: url(assets/suits/clubs.svg);
		background-size: 100%;
	}

	.spades {
		background: url(assets/suits/spades.svg);
		background-size: 100%;
	}
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

input, select, button {
	-webkit-appearance: none;
	border-radius: 1rem;
	padding: .3125rem .525rem;
	font-family: Nunito, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	border: 0;
	outline: 0;
}

input, select {
	color: #4b4b4b;
	border: .125rem solid #e6e6e6;

	&:disabled {
		background: #fafafa;
	}
}

button {
	position: relative;
	background: #1cb0f6;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .25rem;

	&::after {
		content: "";
		position: absolute;
		top: .25rem;
		bottom: -.25rem;
		left: 0;
		right: 0;
		z-index: -1;
		border-radius: 1rem;
		background: #1899d6;
	}

	&:active {
		margin-top: .25rem;
		margin-bottom: 0;
		&::after {
			border: 0;
			bottom: 0;
		}
	}

	&:not(:disabled) {
		cursor: pointer;
	}

	&:disabled {
		background: #8dd7fa;
		&::after {
			background: #8bccea;
		}
	}

	&.loading {
		color: transparent;
		& > * {
			opacity: 0;
		}
		&::before {
			content: "";
			position: absolute;
			width: 1rem;
			height: 1rem;
			top: calc(50% - .5rem);
			left: calc(50% - .5rem);
			border: .125rem solid #fff;
			border-bottom-color: transparent;
			border-radius: 1rem;
			animation: spin 2s linear infinite;

			@keyframes spin {
				from { transform: rotate(0deg); }
				to { transform: rotate(360deg); }
			}
		}
	}
}

.row {

	display: flex;
	align-items: center;

	&.force-margin, &:not(:last-child) {
		margin-bottom: 1rem;
	}

	& > .label {
		width: 5rem;
		text-align: right;
		font-weight: bold;
		padding-right: 1rem;
		white-space: nowrap;
	}

	& > .value {
		flex-grow: 1;
		input, select {
			width: 100%;
		}
	}

	& > .group {
		display: flex;
		& > * + * {
			margin-left: .5rem;
		}
		button {
			min-width: 4rem;
		}
	}

}

.cards-wrapper {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem !important;
}

.cards {
	width: 100%;
	display: flex;
}

.card {

	position: relative;
	width: 100%;
	font-size: 2.5rem;
	letter-spacing: 0;

	input {
		opacity: 0;
		width: 0;
		height: 0;
		display: none;
	}

	input + label {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fefefe;
		border: .125rem solid #e4e4e4;
		border-radius: 1rem;
		border-bottom-width: .25rem;
		width: 100%;
		padding: calc(70% - .375em) 0;

		&.hearts, &.diamonds {
			color: #ff6464;
		}

		&.clubs, &.spades {
			color: #515262;
		}

		.value {
			font-weight: bold;
			line-height: 0;
		}

		.suit {
			display: inline-block;
			width: .75em;
			height: .75em;
			margin-left: .25em;
		}

		&.hearts .suit {
			background: url(assets/suits/hearts.svg);
			background-size: 100%;
		}

		&.diamonds .suit {
			background: url(assets/suits/diamonds.svg);
			background-size: 100%;
		}

		&.clubs .suit {
			background: url(assets/suits/clubs.svg);
			background-size: 100%;
		}

		&.spades .suit {
			background: url(assets/suits/spades.svg);
			background-size: 100%;
		}
	}

	&:not(.flipped) input:checked + label {
		//transform: translateY(-1rem);
	}

	input:checked + label::before {
		content: "HOLD";
		position: absolute;
		top: -1.25rem;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 1rem;
		line-height: 1rem;
	}

	&.flipped label {
		background: #fafafa;
		.value, .suit {
			opacity: 0;
		}
	}

	& + .card {
		margin-left: .25em;
	}

}

#play-button {
	margin-left: auto;
	margin-right: auto;
	width: 16rem;
	max-width: 100%;
	padding: .875rem 1rem;
}

#result {
	margin: auto;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;

	&.amount {
		color: #58a700;
	}
}

.error {
	text-align: center;
	font-size: 1.5rem;
	color: #ff4b4b;
	max-width: 40rem;
	overflow-x: auto;
}

.history {

	width: 100%;

	td {
		padding-top: .5rem;
	}

	.cards .card {
		font-size: 1.75rem;
	}

	.result {
		font-size: 1.25rem;
		font-weight: bold;
		text-align: center;
		width: 14rem;
	}

}

.history-footer {
	button {
		min-width: 7rem;
	}
	a + a {
		margin-left: .5rem;
	}
}

@media screen and (max-width: 44rem) {

	#title {
		font-size: 1.75rem;
	}

	.app-component {
		width: 100%;
		margin: 0;
		padding: 1rem;
		border-left-width: 0;
		border-right-width: 0;
		border-radius: 0;
	}

	.row {

		flex-direction: column;

		& > .label {
			width: 100%;
			text-align: left;
			padding-left: 1rem;
			padding-bottom: .5rem;
		}

		& > .value {
			width: 100%;
		}

	}

	.cards-wrapper {
		margin: 2rem 0;
	}

	.card {
		font-size: 150%;
	}

	#result, .error {
		font-size: 1.25rem;
	}

	.error {
		max-width: calc(100vw - 2rem);
	}

}
